.contact-container {
  display: flex;
  flex-direction: column;
  background-color: #5bad84;
  padding: 130px 80px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
