.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  padding: 0 20px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-logo {
  height: 40px;
  padding-left: 10px;
}

.navigation-container {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  padding: 30px;
  color: #333c45;
  text-decoration: none;
  min-width: 75px;
  font-weight: 700;
  text-align: center;
}

.nav-item:hover {
  color: #5bad84;
}
